<style>
  .foot {
    padding: 4rem 0;
  }

  .footer {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
  }

  .section {
    max-width: 35%;
  }

  .section h4 {
    margin-bottom: 2rem;

  }

  .section .links {
    display: flex;
    flex-direction: column;
  }

  .section .links a {
    margin-bottom: 1rem;
  }

  .copyright {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright i {
    cursor: pointer;
    margin-left: 1rem;
  }
</style>

<div class="inner foot">
  <div class="footer">
    <div class="section">
      <h4 class="mb-2">About Livefit</h4>
      <div class="links">
        <a href="#">Affiliates</a>
        <a href="#">Gift Card</a>
        <a href="#">Student Discount</a>
      </div>
    </div>
    <div class="section">
      <h4>Help & Support</h4>
      <div class="links">
        <a href="#">FAQ</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="section">
      <h4>Our Menu</h4>
      <div class="links">
        <a href="#">Meal Packages</a>
        <a href="#">Breakfast Meals</a>
        <a href="#">Lunch & Dinner Meals</a>
        <a href="#">Snacks, Drinks & More</a>
        <a href="#">Build your own meals</a>
        <a href="#">Kids Meals</a>
        <a href="#">Smoothie Bowls & Smoothies</a>
      </div>
    </div>
    <div class="section">
      <h4>Sign up for newsletter</h4>
      <div class="links">
        <a href="#">Enter your email for a chance to win a $150 LiveFit e-gift card!</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copy">© 2020 Foodie North America Inc.</div>
    <div class="socials">
      <i class="fab fa-facebook fa-2x"></i>
      <i class="fab fa-twitter fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
    </div>
  </div>
</div>