<style>
  .hero-package {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/hero2.jpg);
    background-size: cover;
    color: white;
    background-color: #e8015a69;
    background-blend-mode: overlay;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.342);
    font-size: 2em;
    letter-spacing: 1px;
    margin-top: 60px;
  }
</style>

<div class="hero-package">
  <h1>Our meal packages</h1>
</div>